# RapidAPI
RAPID_API_KEY=YOUR_KEY_HERE

# Supabase
SUPABASE_SERVICE_ROLE_KEY=YOUR_KEY_HERE

# Inngest (required in production)
INNGEST_EVENT_KEY=YOUR_KEY_HERE
INNGEST_SIGNING_KEY=YOUR_KEY_HERE

# 
# Client
#

# Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_KEY_HERE
NEXT_PUBLIC_SUPABASE_URL=YOUR_KEY_HERE
